@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?az4ty');
  src:  url('fonts/icomoon.eot?az4ty#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?az4ty') format('truetype'),
    url('fonts/icomoon.woff?az4ty') format('woff'),
    url('fonts/icomoon.svg?az4ty#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-chart-2:before {
  content: "\e100";
}
.icon-briefcase:before {
  content: "\e101";
}
.icon-calendar:before {
  content: "\e103";
}
.icon-camera1:before {
  content: "\e104";
}
.icon-code:before {
  content: "\e105";
}
.icon-headphones1:before {
  content: "\e106";
}
.icon-tv:before {
  content: "\e107";
}
.icon-megaphone:before {
  content: "\e108";
}
.icon-camera:before {
  content: "\e109";
}
.icon-headphones:before {
  content: "\e110";
}
.icon-video-camera:before {
  content: "\e111";
}
.icon-bullhorn:before {
  content: "\e112";
}
.icon-users:before {
  content: "\e113";
}
.icon-user-tie:before {
  content: "\e114";
}
.icon-sphere:before {
  content: "\e115";
}
.icon-italic:before {
  content: "\e116";
}
.icon-embed2:before {
  content: "\e117";
}
